---
import IconWhatsapp from "./icons/IconWhatsapp.astro";
import IconPhone from "./icons/IconPhone.astro";

const supportNumbers = [
  { label: "Soporte Técnico", number: "73261143" },
  { label: "Atención al Cliente", number: "76746708" },
];

const WHATSAPP_MESSAGE =
  "Hola! 👋 Quisiera adquirir un plan de WiFi Ilimitado 🚀";

const getWhatsappLink = (v: string) =>
  `whatsapp://send/?phone=591${v}&text=${encodeURIComponent(WHATSAPP_MESSAGE)}`;
const getPhoneLink = (v: string) => `tel:${v}`;
---

<div class="mt-4 w-full">
  <p
    class="text-[10px] text-center mb-2 uppercase tracking-wider opacity-60 font-bold"
    style="color: var(--text-secondary);"
  >
    Elige una opción para contactarnos
  </p>

  <div class="grid gap-2">
    {
      supportNumbers.map((contact) => (
        <div
          class="flex items-center justify-between rounded-lg p-1.5 pl-3 border transition-all bg-(--bg-secondary) border-(--primary-200) dark:border-slate-700"
        >
          <span class="font-bold text-sm text-(--text)">
            {contact.number}
          </span>

          <div class="flex gap-1.5">
            <a
              href={getPhoneLink(contact.number)}
              class="flex items-center gap-1 rounded px-2 py-1.5 transition-all hover:bg-opacity-80 bg-primary-50 text-primary-700 dark:bg-slate-700 dark:text-slate-200"
            >
              <IconPhone class="h-3 w-3" />
              <span class="text-[10px] font-bold">Llamar</span>
            </a>

            <a
              href={getWhatsappLink(contact.number)}
              class="flex items-center gap-1 rounded px-2 py-1.5 transition-all hover:bg-opacity-90 bg-primary-600 text-white dark:bg-primary-700"
              rel="noopener noreferrer"
            >
              <IconWhatsapp class="h-3 w-3" />
              <span class="text-[10px] font-bold">Chat</span>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
